body {
padding: 0;
margin: 0;
}
html, body, #map {
height: 100%;
width: 100vw;
}

.info {
    padding: 8px 10px;
    font: 18px/20px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.title {
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    transform: translate(-50%,20%);
    position: fixed;
    left: 50%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
}

.full-screen-container {
            background: linear-gradient(to bottom, #4CAF50, #2196F3); /* Replace these colors with your desired gradient */
            color: white; /* Text color for readability */
            height: 100vh; /* Set the height to 100% of the viewport height */
            margin: 0; /* Remove margin to reach the edges of the screen */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }