<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0x">
    <title>World Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">
  </head>

  <body>
    <div id="vmap" style="margin:0 auto;height:520px;"></div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js"></script>

    <script type="text/javascript">
      // Access the Flask variable countries_json directly within the JavaScript code
      var countries = JSON.parse(`{{ countries_json | tojson | safe }}`);
      var capitals = JSON.parse(`{{ capitals_json | tojson | safe }}`);

      $(document).ready(function(){
        $("#vmap").vectorMap({
          map: 'world_en',

          onLabelShow:function(event,label,code){
            code = code.toUpperCase();
            country_name = countries[code];
            label.html('<strong>'+country_name+'</strong>');
          }
        });
      });
      country_code = "RU"
      city_name = capitals[country_code]
      fetch(`/get_openweather?q=${city_name},${country_code}`)
          .then(response => response.json())
          .then(data =>{
              console.log(data)
          })
          .catch(error => {
              console.error('Error fetching data:', error);
          });
      {#fetch('/get_data?datasetid=GHCND&startdate=2023-01-01&enddate=2023-01-31')#}
      {#  .then(response => response.json())#}
      {#  .then(data => {#}
      {#      // Process the data returned from the API#}
      {#      console.log(data);#}
      {#  })#}
      {#  .catch(error => {#}
      {#      console.error('Error fetching data:', error);#}
      {#  });#}
    </script>
  </body>
</html>