<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0x">
    <title>World Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">
  </head>

  <body>
    <div id="vmap" style="margin:0 auto;height:520px;"></div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js"></script>

    <script type="text/javascript">
      // Access the Flask variable countries_json directly within the JavaScript code
      var countries = JSON.parse(`{{ countries_json | tojson | safe }}`);
      var capitals = JSON.parse(`{{ capitals_json | tojson | safe }}`);
      let fetchPromises = []; // Array to store fetch promises

      let weatherData = {}
      for (let country in capitals) {
          var lat= capitals[country]["lat_lon"][0]
          var lon= capitals[country]["lat_lon"][1]
           const fetchPromise = fetch(`/get_openweather?lat=${lat}&lon=${lon}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Add the data to the dictionary
                weatherData[country] = data["main"]["temp"];
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
          fetchPromises.push(fetchPromise); // Add the fetch promise to the array
      };

      // Wait for all fetch calls to complete before initializing the map
      Promise.all(fetchPromises)
          .then(() => {
              console.log(weatherData);
              $(function () {
                  $("#vmap").vectorMap({
                      map: 'world_en',
                      series: {
                          regions: [{
                              values: weatherData,
                              attribute: 'fill',
                              scale: ['#C8EEFF', '#0071A4'],
                              normalizeFunction: 'polynomial'
                          }]
                      },

                      onLabelShow: function (event, label, code) {
                          code = code.toUpperCase();
                          country_name = countries[code];
                          label.html('<strong>' + country_name +' (Temp - '+weatherData[code]+')' +'</strong>');
                      }
                  });
              });
          });
    </script>
  </body>
</html>