<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="full-screen-container">
        <div class="container text-center">
            <h2>Clark's Link Dashboard :)</h2>
            <p><a href="US" class="btn btn-primary btn-lg shadow">US Temperatures</a></p>
            <p><a href="historical" class="btn btn-primary btn-lg shadow">Temperatures Compared to Historical</a></p>
            <p><a href="wiki" class="btn btn-primary btn-lg shadow">Wikipedia API</a></p>
            <p><a href="nutritionle" class="btn btn-primary btn-lg shadow">Nutritionle</a></p>
        </div>
    </div>
</body>
</html>