<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutritionle</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nutritionle.css') }}">

</head>
<body class="body">
    <h2 class="h2">Enter a food:</h2>
    <span>
        <form id="wikiForm" class="form">
            <input type="text" class="inputBox" id="food" name="food">
            <button class="btn btn-primary btn-lg shadow" type="submit">Get Nutritional Info</button>
        </form>
        <form id="idForm" class="form">
            <input type="text" class="inputBox" id="foodID" name="food">
            <button class="btn btn-primary btn-lg shadow" type="submit">Get Info From ID</button>
        </form>
        <form id="randomFoodForm" class="form">
            <button class="btn btn-primary btn-lg shadow" type="submit">Random Food Info!</button>
        </form>
    </span>
    <div id="options"></div>
    <div id="summaryContainer" class="summaryContainer">
        <h2 class="h2" id="foodName">Food Details:</h2>
        <p id="summary" class="summary"></p>
    </div>
    <script src="{{ url_for('static', filename='js/nutrition_search.js') }}"></script>
</body>
</html>